/* Write your CSS here */
.list-items {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.arrow-button{
border:none;
outline: none;
cursor: pointer;
background-color: transparent;
}
.arrow{
    width:18px;
    height:18px;
}